@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    display:flex;
    justify-items: center;
    align-items: center; 
    border-radius: 5px;
    padding: 6px 4px ;
    transition: all 0.5s ;
    gap: .2rem;
}

li:hover{
    transform:scale(95%);
    color: #FACC15;
    background-color: #3a4ff4; 

}

.scrollbarHidden::-webkit-scrollbar{
    display: none;
}
