@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    display:flex;
    justify-items: center;
    align-items: center; 
    border-radius: 5px;
    padding: 6px 4px ;
    transition: all 0.5s ;
    gap: .2rem;
}

li:hover{
    transform:scale(95%);
    color: #FACC15;
    background-color: #3a4ff4; 

}

.scrollbarHidden::-webkit-scrollbar{
    display: none;
}

form{
    background-color: rgba(219, 234, 254, .9);
;
}

.inputContainer{
    display:flex;
    flex-direction: column;
    width:auto;
    color: #1F2937;
    gap: 2px;
}

.inputContainer > label{
    font-size: large;
    font-weight: 700;
}

.addBookInputField{

    background-color: white;
    border-radius: 5px;
    /* width: 50%; */
    /* color: #1F2937; */
    padding: 2px;
    padding-left: 6px;
    margin-left: 4px;
    margin-bottom: 2px;
}






